@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.stopwatch {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elapsed-time {
  width: 90%;
  margin: 0.5rem;
  padding: 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
