@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

header {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem auto;
  text-align: center;
}

.color--accent {
  color: #add4d9;
}

.form-wrapper {
  background-color: #d94e4e;
  border-top: 0.5rem solid #d91a1a;
  border-bottom: 0.5rem solid #d91a1a;
  /* border-radius: 10px; */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-label {
  display: block;
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.stopwatch-name {
  padding: 0.5rem 1rem;
  width: 90%;
  border-radius: 10px;
  border: solid 0.25rem white;
}

.add-stopwatch-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #add4d9;
  margin: 1rem auto;
}

.add-stopwatch-btn:hover,
.start-btn:hover {
  background-color: #54828c;
  cursor: pointer;
}

.add-stopwatch-btn:active,
.start-btn:active {
  background-color: #324e54;
}

.edit-btn {
  position: absolute;
  top: 5px;
  left: 190px;
  border-radius: 50%;
  border: none;
  background-color: #add4d9;
  width: 35px;
  height: 35px;
}

.edit-wrapper--active {
  position: absolute;
  top: 5px;
  left: 100px;
  background-color: white;
  border: 0.2rem solid red;
  width: 60%;
  height: 25%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.delete-btn,
.close-edit-wrapper-btn {
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}

.delete-btn i,
.close-edit-wrapper-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.delete-btn {
  background-color: #d91a1a;
}

.close-edit-wrapper-btn {
  background-color: #bf871f;
}

.icon {
  color: black;
  font-size: 35px;
}

.stopwatch-section {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.stopwatch-title {
  background-color: white;
  border-top: 0.5rem solid #add4d9;
  border-bottom: 0.5rem solid #add4d9;
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}

.stopwatch {
  position: relative;
  background-color: black;
  width: 250px;
  height: 250px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1rem #add4d9;
}

.elapsed-time-wrapper {
  width: 90%;
  margin: 0.5rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-span {
  width: 50px;
}

.stopwatch-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stopwatch-btn {
  margin: 0.25rem;
  padding: 0.2rem;
  width: 40%;
  border: solid 0.2rem white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.start-btn {
  background-color: #add4d9;
}

.pause-btn,
.resume-btn {
  background-color: #bf871f;
}

.pause-btn:hover,
.resume-btn:hover {
  cursor: pointer;
  background-color: #996c19;
}

.pause-btn:active,
.resume-btn:active {
  background-color: #735113;
}

.reset-btn {
  background-color: #d94e4e;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: #d91a1a;
}

.reset-btn:active {
  background-color: #821010;
}

@media (min-width: 576px) {
  form {
    max-width: 700px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .name-label {
    /* width: 30%; */
    display: inline-block;
  }

  .stopwatch-name {
    width: 50%;
  }

  .stopwatch {
    margin: 1rem;
  }

  .stopwatch-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
